/* color palette
#7a0019 - UMN maroon
#ffcc33 - UMN gold
#0a100d - rich black
#717c89 - dark/blue grey
#c1c0b6 - light/green grey
*/

/* fonts
font-family: 'Merriweather Sans', sans-serif; (Header)
font-family: 'Montserrat', sans-serif; (body text)
*/

/* global elements */

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

h1 {
  font-family: 'Merriweather Sans', sans-serif;
}

h2 {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 300;
  font-size: 2em;
}

.yellow{
  color: #ffcc33;
}

/* header */

.navBar {
  width: 90%;
  height: 70px;
  padding-top: 0;
  padding-bottom: 10px;
  margin: 0 auto;
}

header {
  background-color: #7a0019;
  color: #fff;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  max-height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
}

header nav {
  float: right;
}

header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header nav li {
  display: inline-block;
  margin-left: 40px;
  padding-top: 29px;

  position: relative;
}

header nav a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1em;
}

header nav a:hover {
  color: #c1c0b6;
}

header nav li a::before {
 content: '';
 display: block;
 height: 5px;
 background-color: #ffcc33;

 position: absolute;
 top: 0;
 width: 0;

 transition: all ease-in-out 250ms;
}

header nav a:hover::before {
  width: 100%;
}

/* main content */

#backdrop {
  max-width: 100%;
  margin; auto;
}

#siteBody {
    max-width: 90%;
    min-height: 800px;
    height: auto;
    margin: 0 auto 30px auto;
}
#siteBody2 {
    height: auto;
    margin: 0 auto 30px auto;
}

#siteBodySibling {
    max-width: 90%;
    height: 900px;
    margin: auto;
}

#siteBody h1 {
  font-size: 300%;
}

.contentContainer {
  display: flex;
}

.tripleBox {
  max-width: 90%;
}

.columnContent {
  max-width: 29.3%;
  float: left;
  min-height: 400px;
  margin: 25px 2%;

}
.sideContent {
  max-width: 17%;
  height: 50%;
  margin: 0;
  flex: 1;
}

.sideContentMain {
  float: left;
  height: 50%%;
  width: 100%;
  padding: 20px 20px 100px 20px;
  background: #c1c0b6;
}

.mainContent {
  padding: 20px 20px 100px 20px;
  flex: 1;
}

.centerHeader {
  text-align: center;
}

.paragraphText {
  margin-bottom: 35px;
}

hr {
  margin: 15px;
}

.backdropImage {
  width: 100%;
  margin: 0 auto;
}

.thirds {
  margin: 0 auto;
}

.thirdImage {
  max-width: 100%;
  margin: 0 auto;
  border-radius: 10px;
}

.goldText {
  color: #ffcc33;
}

.logoText {
  font-weight: 300;
}

.noBottomMargin {
  margin-bottom: 0;
}

.liteTopMargin {
  margin-top: 5px;
}

#pageWidthContainer {
  width: 100%;
  margin: 0 auto;
}

#four04 {
  max-width: 90%;
  height: 775px;
  margin: 0 auto;
  padding-top: 100px;
  padding-top: 100px;
}

.container {
  margin: auto;
}

.four04image {
  max-width: 80%;
  margin: 0 10%;
}

/* footer */

.navFooter {
  width: 90%;
  height: 100%;
  padding-top: 0;
  padding-bottom: 10px;
  margin: 0 auto;
}

footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #7a0019;
  color: #fff;
  text-align: center;
}

footer nav {
  list-style: none;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer nav li {
  display: inline-block;
  margin-left: 40px;
  padding-top: 29px;
}

footer nav a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1em;
}

footer nav a:hover {
  color: #c1c0b6;
}

footer p {
  font-size: .7em;
}

.logoFooter {
  margin: 20px 0 auto;
  max-height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* JS Quiz */

#title {
    text-decoration: underline;
}

#quiz {
    text-indent: 10px;
    display:none;
}

.button {
    border:4px #fff;
    border-radius:10px;
    width: 40px;
    padding-left:20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    float:right;
    background-color: #ffcc33;
    color: black;
    margin: 0 2px 0 2px;
}

.button.active {
    background-color: #F8F8FF;
    color: #525252;
}

button {
    position: relative;
    float:right;
}

.button a {
    text-decoration: none;
    color: black;
}

#container {
    width:50%;
    margin:auto;
    padding: 0 25px 40px 10px;
    background-color: #7a0019;
    border:4px solid #7a0019;
    border-radius:0;
    color: #FFFFFF;
    font-weight: bold;
    box-shadow: 5px 5px 5px #888;
}

#container h2{
    color: #ffcc33;
    margin-top: auto;
}

#quiz ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#prev {
    display:none;
}

#start {
    display:none;
    width: 90px;
}
